@import 'tailwindcss/base';
@import 'tailwindcss/components';

.form-input {
    @apply block appearance-none w-full py-2 px-2 text-base bg-white text-gray-700 border border-gray-200 rounded shadow;

    &:hover {
        @apply border-gray-500;
    }

    &:disabled {
        @apply bg-gray-300 border-transparent;

        &:hover {
            @apply border-transparent;
        }
    }

    &::-webkit-search-cancel-button {
        @apply hidden;
    }
}

.counter-btn {
    @apply flex items-center justify-center border rounded-full w-8 h-8 shadow bg-gray-400;

    &:hover {
        @apply bg-gray-600;
    }

    &:disabled {
        @apply bg-gray-300 border-transparent;

        &:hover {
            @apply border-transparent;
        }
    }
}

.counter-input {
    @apply text-center appearance-none px-0 text-xl mx-2 w-10 bg-transparent;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        @apply m-0;
    }
}

/* Hide HTML5 Up and Down arrows. */
input[type=number].appearance-none {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        @apply m-0;
    }
}

.form-select {
    @apply block appearance-none w-full bg-white border border-gray-200 py-2 pl-4 pr-8 rounded shadow text-gray-700;

    &:hover {
        @apply border-gray-500;
    }
}

@import 'tailwindcss/utilities';